

<!DOCTYPE html>
<html>
<head>
    <title>MinhaResenha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='letterbox.css') }}">

</head>

<body>

    <header>
        <h1> MinhaResenha</h1>
<link rel="icon" href="{{ url_for('static', filename='imagens/logo.png') }}">
        <nav>
            <a href="/">Início</a>
            <a href="/filmes">Filmes</a>
        
        <a href = "/login ">Entrar </a>
            <a  href="/logout">Sair</a>
            <a href="cadastro">Cadastrar</a>
        </nav>
    </header>

    <main>

        <h2>Filmes populares</h2>

        <section>
{% for filme in filmes %}

<div>

     <img src="{{ url_for('static', filename='imagens/' + filme[5]) }}">
>

    <h3>🎬 {{ filme[1] }}</h3>

    <p>📅 Ano: {{ filme[2] }}</p>

    <p>🎭 Gênero: {{ filme[3] }}</p>

   {% set nota_filme = namespace(valor=None) %}

{% for item in notas %}
    {% if item[0] == filme[0] %}
        {% set nota_filme.valor = item[1] %}
    {% endif %}
{% endfor %}

{% if nota_filme.valor is not none %}
    <p>⭐ Nota: {{ nota_filme.valor }}/10</p>
{% else %}
    <p>⭐ Nota: Ainda não avaliado</p>
{% endif %}

    <a href="/filme/{{ filme[0] }}">Ver filme</a>

</div>

{% endfor %}
        </section>

    </main>

</body>
</html>
